img {
  border-radius: 10px;
  width: 250px;
  
}

.select-input {
  width: 108px; 
  margin-bottom: 8px;
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.detail-item {
  margin-left: 128px;
  margin-right: 128px;
}

span {
  content: "\2192";
  width: 80px;
}
.back-button{
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    color: #899e7e
}
.btn{
  color:black;
  background-color:#899e7e;

  border-color: Transparent;

}