.product-image {      
  list-style-type: none;
  width: 290px;
  padding: 20px;
  margin: 6px 6px;        
  border: 1px solid #899e7e;
} 

.product-container {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.select-input {
  width: 108px; 
  margin-bottom: 8px;
}

.btn{
  color:black;
  background-color:#899e7e;
  margin-left: 8px;
  border-color: Transparent;
}
span {
  content: "\2192";
  width: 80px;
}
.back-button{
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
}